<header id="intro-header" class="site-header">
  <div class="content-size-restricted">
    <div class="pull-left big-logo">
      <a href="{{ site.baseurl }}/"><amp-img width="300" height="300" layout="responsive" src="{{ site.baseurl }}/assets/images/big-logo.png"></amp-img></a>
    </div>

    <div class="page-links pull-right">
      <a class="page-link" href="{{ site.baseurl }}/meet-the-team">Meet the team</a>
      <a class="page-link" href="{{ site.baseurl }}/talk-to-us">Talk to us</a>
    </div>

    {% if page.header_content %}
      <div class="header-text">
        {{ page.header_content }}
      </div>
    {% endif %}

    {% if page.big_title %}
      <div class="header-title">
        {{ page.big_title }}
      </div>
    {% endif %}

    {% if page.job_role %}
      {% if page.member_name %}
        <div class="team-headline">
          <div class="name">
            {{ page.member_name }}
          </div>

          <div class="role">
            {{ page.job_role }}
          </div>
        </div>
      {% endif %}
    {% endif %}
  </div>
</header>
